 <!-- Sisipan dengan tag <link> ~ external  -->
<link rel="stylesheet" type="text/css" href="basic.css">

<style type="text/css">
.green{
	color:green;
}
</style>

<!-- CSS Inline -->
<p style='color:red'>Tulisan ini berwarna merah</p>

<!-- Didapat dari tag <style> -->
<p class='green'>Tulisan ini berwarna hijau</p>

<!-- style didapat dari basic.css -->
<p class='blue'>Tulisan ini berwarna biru</p>