<link rel="stylesheet" type="text/css" href="selector.css">


<h1>Heading ini berwarna biru</h1>

<h2 class='green'>Heading ini berwarna hijau</h1>

<div class='box small red'></div>
<div class='box blue small'></div>
<div class='box red big'></div>
<div class='box blue big'></div>