/*h1 #title lebih spesifik dengan efek selector sama*/
#title ,h1 #title{
	font-weight: bold; 
	text-decoration: underline
}


/* pseudo class */

a:link{
	color:blue;
}

a:visited{
	color:blue;
}

a:hover{
	color:red;
}
