h1{
	color:blue;
}

.box{
	width: 100px;
	height: 100px;
	background-color: black;
}

.big{
	height: 200px;
	width: 200px;
}

.small{
	height: 50px;
	width: 50px;
}

.red{
	background-color: red;
}

.blue{
	background-color: blue;
}

.green{
	color:green;
}