<script type="text/javascript">
	function tombol_kedua() 
	{
		console.log("tombol kedua ditekan");

	var confirm_dialog=confirm("Press a button");

	if (confirm_dialog==true)
	{
		console.log("Anda menekan ok");
	}
	else
	{
		console.log("Anda menekan cancel");
	}

	}
</script>

<h1>Percobaan Event Handler<h2>

<button onclick='alert("Saya ditekan")'>Tombol Pertama</button>

<button onclick='tombol_kedua()'>Tombol Kedua</button>

