<h3>Tambah Data Siswa</h3>

<!-- action adalah tujuan halaman selanutnya -->
<!-- method adalah jenis http request yang digunakan (GET/POST) -->
<form action='simpan.php' method='post'>
	<input type='hidden' value="rahasia" name="hidden_field">
	<legend>Nama</legend>
		<input type='text' name='nama' value="todi">
	<legend>NIM</legend>
		<input type='text' name='nim'>
	<legend>
	<legend>Jenis Kelamin</legend>
	<select name="jenis_kelamin">
		<option value="wanita">Wanita</option>
		<option value="pria">Pria</option>
	</select>

	<legend>Keterangan</legend>
		<textarea type='text' name='text_area'>isi textarea</textarea>
	<legend>
		<input type='submit' value='Simpan'>
	</legend>
</form>