<!-- percobaan $_GET dan $_POST  -->

<h2>Mengirim dengan variabel $_POST</h2>
<form action='form.php' method='post'>
	<label>Nama</label>
	<input type='text' name='nama'>
	<input type='submit' value='kirim'>
</form>
<h2>Mengirim dengan variabel $_GET</h2>
<form action='form.php' method='get'>
	<label>Nama</label>
	<input type='text' name='nama'>
	<input type='submit' value='kirim'>
</form>

