<h2>Pendaftaran mahasiswa baru</h2>
<style type="text/css">
	input{
		display: block;
	}
</style>
<form action='latihan_form.php' method='post'>
	<label>Nama</label>
	<input type='text' name='nama'>
	<label>Alamat</label>
	<input type='text' name='alamat'>
	<label>Umur</label>
	<input type='text' name='umur'>
	<input value="Daftar" type='submit'>
</form>

